
.card-content {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 110px;
  flex: 50%;

  > .title {
    @include basic-title();

    + p {
      margin-top: 20px;
    }
  }

  > p {
    @include basic-description();

    > strong {
      font-weight: bold;
    }

    > a {
      font-weight: bold;
      color: #2D827C;
    }

    + p {
      margin-top: 18px;
    }

    + .link {
      margin-top: 64px;
    }
  }

  @include on(1024px) {
    padding: 110px 60px;
  }

  @include on(768px) {
    padding: 40px 32px;
    min-height: 0;

    > .link {
      justify-content: flex-start;
    }

    > p {
      + p {
        margin-top: 8px;
      }
      
      + .link {
        margin-top: 32px;
      }
    }
  }

}

.card-image {
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include on(768px) {
    padding-top: 60%;

    background-position: center 20%;
  }
}

.card-layout {
  display: flex;
  align-items: stretch;

  &.-inverted {
    flex-direction: row-reverse;
  }

  @include on(768px) {
    flex-direction: column;

    &.-inverted {
      flex-direction: column;
    }
  }
}

.partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    width: 90px;
    height: 86px;
    margin: 0 24px;

    > a {
      width: 100%;
      height: 100%;
      display: block;
      min-width: 90px;
    }

    &.-amex > a {
      background: url('../images/partners/cc-amex.png') 50% / auto no-repeat;
    }

    &.-google > a {
      background: url('../images/partners/google.png') 50% / auto no-repeat;
    }

    &.-paypal > a {
      background: url('../images/partners/paypal.png') 50% / auto no-repeat;
    }

    &.-amazon > a {
      background: url('../images/partners/amazon.png') 50% / auto no-repeat;
    }

    &.-ebay > a {
      background: url('../images/partners/ebay.png') 50% / auto no-repeat;
    }

    @include on(768px) {
      margin: 0;
    }
  }
}

.closing-statement,
.our-partners {
  padding: 110px 32px;
  background-color: #F5FEFF;

  > .banner-content {
    padding-bottom: 0;
  }

  @include on(768px) {
    padding: 60px 32px;
  }
}

.policy-links {
  display: flex;

  > .item {
    margin-right: 40px;

    &:last-of-type {
      margin-right: 0;
    }

    > a {
      @include font-size-14();
      line-height: 25px;
      color: $mild-black-color;
    }
  }
}

.footer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px 70px;
  background-color: #D0F1F4;

  @include on(768px) {
    flex-direction: column;
    align-items: center;

    > .site-logo {
      + .policy-links {
        margin-top: 16px;
      }
    }
  }
}


.our-advocacy {
  width: 100%;
  max-width: 800px;
  margin: auto;

  > .main-preview {
    .item {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 460px;
    }

    + .nav-preview {
      margin-top: 60px;
    }
  }

  > .nav-preview {
    .item {
      height: 200px;
      padding: 0 20px;

      > span {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        display: block;
      }
    }
    
    @include on(660px) {
      display: none;
    }
  }
}

.contact-us-container,
.advocacy-container {
  background: #F5FEFF;
  padding: 110px 32px;

  @include on(768px) {
    padding: 60px 32px;
  }
}

.field-group {
  width: 100%;
  margin-bottom: 24px;
  text-align: left;

  > label {
    @include font-size-14($body-font, bold);
    color: $mild-black-color;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-bottom: 4px;
  }


  > input {
    @include font-size-14();
    border: 0;
    border-bottom: 2px solid #2D827C;
    background: transparent;
    width: 100%;
  }


  > textarea {
    @include font-size-14();
    border: 0;
    border-bottom: 2px solid #2D827C;
    background: $white-color;
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 200px;
  }
}


.contact-us {
  max-width: 460px;
  margin: auto;
  text-align: center;

  > .title {
    @include basic-title();

    + .field-group {
      margin-top: 40px;
    }
  }

  > .button {
    background: transparent;
  }
}

.contact-us-container {
  padding-top: 40px;
}