@mixin alternative-header {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;

  @include on(768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-logo {
  width: 160px;
  height: 74px;
  text-align: center;
  
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background: url('../images/leaf.png') 50% 0 / auto no-repeat;
  padding-top: 40px;

  > .title {
      @include font-size-12($body-font, normal);
      text-transform: uppercase;
      color: $blue-green-color;
      letter-spacing: 0.3em;
      line-height: 1.3;
  }
}

.menu-button {
  width: 20px;
  height: 20px;
  align-self: flex-start;
  display: none;
  position: absolute;
  bottom: 20px;

  &:before {
    content: "\f0c9";
    @include font-size-20($font-awesome-font, normal);

    width: 100%;
    height: 100%;
    display: block;
  }

  @include on(768px) {
    display: block;
  }
}

.main-menu {
  display: flex;

  > .item {
    text-align: center;
    margin: 0 20px;

    > a {
      @include font-size-16();
      color: $dark-black-color;
      line-height: 1.1875;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      position: relative;
    }

    &.-active > a {
      color: $blue-green-text-color;

      &:after {
        content: "";
        width: 60%;
        height: 3px;
        background-color: #429791;

        position: absolute;
        left: 0;
        right: 0;
        bottom: -26px;
        margin: auto;

        @include on(1024px) {
          bottom: -12px;
        }
      }
    }
  }

  @include on(768px) {
    flex-direction: column;

    > .item {
      padding: 12px 0;
    }
  }
}

.social-menu {
  display: flex;

  > .item {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;

    > a {
      width: 100%;
      height: 100%;
      display: block;
    }

    &.-twt > a {
      background: url('../images/socials/TWT.png') 0 50% / auto no-repeat;
    }

    &.-fb > a {
      background: url('../images/socials/FB.png') 0 50% / auto no-repeat;
    }

    &.-ig > a {
      background: url('../images/socials/IG.png') 0 50% / auto no-repeat;
    }
  }

  @include on(1024px) {
    margin-top: 32px;
  }

  @include on(768px) {
    width: 100%;
    margin: 12px 0;
    justify-content: center;
  }
}

.header-menu {
  padding-left: 116px;

  display: flex;
  justify-content: space-between;

  flex: 1;
  
  @include on(1024px) {
    flex-direction: column;
    padding-left: 0;
    margin-top: 20px;
    align-items: center;
  }

  @include on(768px) {
    margin-top: 0;
  
    width: 100%;
    position: absolute;
    top: 100%;
    left: -100%;
    background: #f5feff;
    z-index: 1;
    padding: 12px;
    transition: all 0.4s ease;

    &.-active {
      left: 0;
      transition: all 0.4s ease;
    }
  }
}

.header {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 64px 70px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 1;

  @include on(1024px) {
    flex-direction: column;
    padding: 32px;
  }
}

.header-container {
  background: linear-gradient(360deg, #D0F1F4 24.09%, $light-blue-color 100%);
  position: relative;

  &.-alt {
    background: #F5FEFF;

    > .header {
      @include alternative-header();
    }

    > .main-banner {
      @include on(768px) {
        padding-top: 0;
      }
    }

    > .main-banner > .banner-group > .banner-content {
      padding: 110px 32px;

      @include on(768px) {
        padding: 40px 32px;
        text-align: left;
      }
    }
  }
}